@using MVCMusicStore.Controllers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET MVC Music Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" id="header-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ASP.NET MVC Music Store", nameof(HomeController.Index), "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", nameof(HomeController.Index), "Home")</li>
                    <li>@Html.ActionLink("Store", nameof(StoreController.Index), "Store")</li>
                    @*<li>@Html.ActionLink("Cart", nameof(ShoppingCartController.Index), "ShoppingCart")</li>*@
                    <li>@{ Html.RenderAction("CartSummary", "ShoppingCart"); }</li>
                    <li>@Html.ActionLink("Admin", nameof(StoreManagerController.Index), "StoreManager")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="genres-div" class="col-md-2 col-sm-4 col-sx-12">
                @{Html.RenderAction("GenreMenu", "Store"); }
            </div>
            <div class="body-content col-md-9 col-sm-6 col-sx-12">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="container">
        <footer class="modal-footer">
            <p>&copy; @DateTime.Now.Year - ASP.NET MVC Music Store</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
