@using MVCMusicStore.Controllers
@using MVCMusicStore.Models
    @model MVCMusicStore.Models.Album

    @{
        ViewBag.Title = $"Album - {Model.Title}";
    }

    <h2>@Model.Title</h2>

    <p>
        <img src="@Model.AlbumArtUrl" alt="@Model.Title" />
    </p>

    <div id="album-details">
        <p><em>Genre:</em> @Model.Genre.Name</p>
        <p><em>Artist:</em> @Model.Artist.Name</p>
        <p><em>Price:</em> @String.Format("{0:F}", Model.Price)</p>
        <p class="button">
            @Html.ActionLink("AddToCart", nameof(ShoppingCartController.AddToCart),
            nameof(ShoppingCart), new { albumId = Model.AlbumId }, "")
        </p>
    </div>